

h1{
  text-align: center;
  color: royalblue
}
p{
  text-align: center
}
.div2{
  text-align: center;
}
input[type="submit"]{
  background-color: royalblue;
  color: white;
 width: 100%;
 outline: none;
 border: solid 1px gray;
 
}
.submit3{
   margin: 
  auto;
  width: 200px;
   border-radius: 2px;
   
}
button{
  background-color: forestgreen;
  color: white;
  width: 100%px
}
.button{
  margin: auto;
  width: 130px
}