.tophead{
  background-color: lightgray;
  width: 100%;
  background-image: url(tophead.png);
  background-size: 2.5%;
  background-repeat: no-repeat;
  text-align: center;
  
}

.container1{
  display: flex;
  margin: 0 auto;
 /* background-color: rgba(1,80,0, 0.1);*/
}

.saylanilogo{
/*  border: solid 1px; */
  width: 20%;
  height: 60px;
  background-image: url(saylanilogo.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 20px;
  margin-left: 10px;
}
.navbar ul{
/*  border: solid 1px; */
  width: 800px;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  list-style: none;
  margin-top: 20px;
  margin-right: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-left: 10px;
  font-size: 17px;
  font-weight: bold;
}
.navbar button{
  height: 20px;
  background-color: blue;
  color: white;
  border-radius: 5%;
  margin-right: 10px;
  border-width: 0;
  font-weight: bold;
}
.navbar a{
  color: darkslategray;
}


 /* Header End */
 
 
.container2{
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
} 

.content1{
  width: 48%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.content1 .hgreen{
  color: limegreen;
}

.content2{
  width: 48%;
  height: 440px;
  background-image: url(content2.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.content1 > p{
  text-align: justify;
  line-height: 2.4em;
}

.container3{
  width: 80%;
  height: 300px;
  margin: 50px auto;
  background-color: #Eaf9c8;
}
.content3 h1{
  padding-top: 20px;
  padding-left: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.content3 a{
  padding-left: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5em;
  color: mediumblue;
}

.cont3btn1{
  background-color: White;
  width: 25%;
  color: black;
  border-width: 0;
  height: 40px;
  margin-left: 20px;
  font-weight: bold;
  border-radius: 10%;
}

.cont3btn2{
  width: 15%;
  background-color: White;
  color: black;
  border-width: 0;
  height: 40px;
  margin-left: 350px;
  margin-top: 20px;
  font-weight: bold;
}

.cont3btn3{
  background-color: White;
  width: 25%;
  color: black;
  border-width: 0;
  height: 40px;
  margin-top: 50px;
  margin-left: 20px;
  font-weight: bold;
}

.cont3btn4{
  width: 15%;
  background-color: White;
  color: black;
  border-width: 0;
  height: 40px;
  margin-left: 140px;
  font-weight: bold;
}

.cont3btn5{
  width: 15%;
  background-color: limegreen;
  color: #fff;
  border-width: 0;
  height: 40px;
  margin-left: 90px;
  font-weight: bold;
  }
  .content4{
  background-image: url(content4.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 483px;
  margin-top: 100px;
  border: solid 1px greenyellow;
  }
  .content5{
   /* border: solid 1px; */
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .container4{
  /*  border: solid 1px; */
    width: 80%;
    height: 250px;
    margin: 660px auto 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .content6{
  /*  border: solid 1px; */
    width: 30%;
    height: 180px;
    background-color: #Eaf9c8;
    background-image: url(hearthh.jpg);
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .content7{
  /* border: solid 1px; */
    width: 30%;
    height: 180px;
    background-color: #Eaf9c8;
    background-image: url(stethoscope.jpg);
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .content8{
  /*  border: solid 1px; */
    width: 30%;
    height: 180px;
    background-color: #Eaf9c8;
    background-image: url(mob.jpg);
    background-size: 30% 50%;
    background-repeat: no-repeat;
    background-position: center;
    
  }
  
  .container5{
  /*  border: solid 1px; */
    width: 80%;
    height: 270px;
    margin: 10px auto 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .content9{
  /*  border: solid 1px; */
    width: 30%;
    height: 180px;
    background-color: #Eaf9c8;
    background-image: url(nalka.jpg);
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
  } 
  
  .content10{
  /*  border: solid 1px; */
    width: 30%;
    height: 180px;
    background-color: #Eaf9c8;
    background-image: url(Head.jpg);
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .content11{
  /*  border: solid 1px; */
    width: 30%;
    height: 180px;
    background-color: #Eaf9c8;
    background-image: url(food.jpg);
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .content6 > p{
    margin-top: 145px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .content7>p{
    margin-top: 145px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .content8>p{
    margin-top: 145px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .content9>p{
    margin-top: 145px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .content10>p{
    margin-top: 145px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .content11>p{
    margin-top: 145px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .container6{
    justify-content: space-evenly;
    width: 80%;
    height: 203px;
/*  border: solid 1px; */
    margin: 0 auto;
    display: flex;
  }
  .content12{
    width: 48%;
    height: 200px;
    border: solid 1px; 
  }
  .content13{
    width: 48%;
    height: 200px;
    border: solid 1px; 
  }
  
  .container7{
    width: 80%;
    height: 200px;
 /* border: solid 1px; */
    margin: 15px 0px 60px 95px;
  }
  .content14{
    width: 48%;
    height: 200px;
    border: solid 1px; 
    margin-left: 10px;
  }
  
  .container8{
    width: 80%;
    height: 570px;
  /*  border: solid 1px; */
    margin: 0 auto;
    background-image: url(fd.jpg);
    background-size: 100%;
  }
  
 /* info of saylani */
  
  .container9{
    width: 80%;
   /* border: solid 1px; */
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 20px;
  }
  
  
  .container10{
    width: 80%;
   /* border: solid 1px; */
    margin: 0 auto;
    display: flex;
  }
  .hepa{
    margin-left: 5px;
    color: royalblue;
  }
  .container11{
    width: 80%;
  /*  border: solid 1px; */
    margin: 0 auto;
    display: flex;
  }
  .house{
    margin-left: 5px;
    color: royalblue;
  }
  
  .container12{
    width: 80%;
 /*   border: solid 1px; */
    margin: 0 auto;
    display: flex;
  }
  .ITliteracy{
    margin-left: 5px;
    color: royalblue;
  }
  .container13{
    width: 80%;
   /* border: solid 1px; */
    margin: 0px 0px 40px 95px;
    display: flex;
  }
  .tharparkar{
    margin-left: 5px;
    color: royalblue;
  }
  
 /* info of saylani ends*/
 
 .container14{
   width: 80%;
   height: 400px;
   border: solid 1px;
   background-color: #226aad;
   margin: 0px 0px 40px 95px;
   display: flex;
   justify-content: space-evenly;
 }
 .cont14-1{
   border: solid 1px;
   width: 23%;
   height: 45%;
   margin-top: 120px;
   border-radius: 100%;
   background-image: url(cont14-1.jpg);
   background-size: 100%;
 }
  .cont14-2{
   border: solid 1px;
   width: 23%;
   height: 45%;
   margin-top: 120px;
   border-radius: 100%;
   background-image: url(cont14-2.jpg);
   background-size: 100%;
   background-repeat: no-repeat;
 }
  .cont14-3{
   border: solid 1px;
   width: 23%;
   height: 45%;
   margin-top: 120px;
   border-radius: 100%;
   background-image: url(cont14-3.jpg);
   background-size: 100%;
   background-repeat: no-repeat;
 }
  .cont14-4{
   border: solid 1px;
   width: 23%;
   height: 45%;
   align-items: center;
   margin-top: 120px;
   border-radius: 100%;
   background-image: url(cont14-4.jpg);
   background-size: 100%;
   background-repeat: no-repeat;
 }
 
 
 .c14h{
   color: #fff;
   margin-top: 185px;
   margin-left: 45px;
   width: 50%;
 }
 .c14t{
   color: #fff;
   width: 50%;
   margin-left: 40px;
   margin-bottom: 40px;
   text-align: center; 
 } 
 
 .container15{
   width: 80%;
 /*  border: solid 1px; */
   margin: 0px 0px 50px 95px;
   text-align: center;
 }
 .container15>p{
   color: limegreen;
 }
 
.container16{
  width: 80%;
  height: 600px;
/*  border: solid 1px; */
  margin: 0 0 50px 95px;
  background-color: lightgray;
}
.cont16-1{
  width: 33%;
  height: 43%;
/*  border: solid 1px; */
  margin: 0px auto;
  border-radius: 100%;
  background-image: url(ismailk.jpg);
  background-size: 100%;
}
.cont16-2{
  width: 90%;
  margin: 20px auto;
}
.cont16-3{
  color: royalblue;
  text-align: center;
}

.cont16-4{
  text-align: center;
}

.container17{
  width: 80%;
  height: 200px;
  border: solid 1px;
  margin: 0 0 50px 95px;
  background-color: #2d76a6;
}
.sg{
  color: white;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 30px;
}
.inputemail{
  margin-left: 250px;
  height: 30px;
  background-color: rgba(255,255,255,0.4);
}

.emailbtn{
  height: 30px;
  font-weight: bold;
}

.fdiv{
  border: solid 1px;
  width: 100%;
  height: 500px;
  background-color: dimgray;
  display: flex;
}
.spng{
  width: 40%;
  height: 110px;
  border: solid 1px;
  background-image: url(saylanilogo2.png);
  background-size: 100%;
  margin-top: 30px;
  margin-left: 30px;
 
}
.ftable{
  width: 50%;
  border: solid 1px;
  margin-top: 30px;
}
.table{
  text-align: center;
  width: 100%;
  height: 400px;
  color: white;
}

.flogo{
  width: 100%;
  height: 400px;
  border: solid 1px;
  background-color: dimgray;
  margin-top: 0px;
}
.flogo-1{
  width: 40%;
  height: 270px;
  border: solid 1px;
  margin: 30px 0 50px 290px;
  border-radius: 100%;
  background-image: url(end.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.flogo-1>p{
  color: white;
  margin-top: 300px;
  text-align: center;
}